body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: gray
}

h1, h2 {
  text-align: center;
  color:green;
}

div {
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgb(9, 243, 231);
  margin: 10px auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  max-width: 600px;
}

button {
  background-color: purple;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #e05555;
}

input, select {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

form {
  max-width: 600px;
  margin: 0 auto 30px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}
